html {
	margin: 0;
	padding: 0;
	background: #444;
}

body {
	margin: 20px auto;
	padding: 30px;
	width: 740px;
	background: #EEE;
	color: #222;
	font-family: Trebuchet MS, Arial;
	font-size: 100%;
	
	-moz-box-shadow: rgba(0, 0, 0, 0.5) 0 3px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 3px 8px;
	-o-box-shadow: rgba(0, 0, 0, 0.5) 0 3px 8px;
	-ms-box-shadow: rgba(0, 0, 0, 0.5) 0 3px 8px;
	box-shadow: rgba(0, 0, 0, 0.5) 0 3px 8px;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}

h1 {
	margin: 0;
	text-align: center;	
}

ol {
	margin: 20px;
}

li {
	padding: 10px;
}

pre,
code,
var {
	font-family: Monaco, monospace;
	color: #4e8718;
	text-shadow: #FFF 0 1px 0;
}
pre {
	overflow: auto;
	padding: 10px;
	color: #a94a23;
	background: #E0E0E0;
}
pre strong {
	color: #a91a05;
	font-weight: bold;
}
pre em {
	color: #a93080;
	font-style: normal;
	font-weight: normal;
}
pre var {
	color: #125b86;
	font-style: normal;
	font-weight: normal;
}